.card {
    background-color: white;
    display: flex;
}

.image {
    width: 50%;
}

.content {
    width: 50%;
    padding: 1rem;
}

.image img {
    display: block;
    height: 100%;
    object-fit: cover;
}

.content h5 {
    font-size: 1.4rem;
}

.description{
    font-style: italic;
    margin-bottom: 1rem;
}

.price {
    font-size:1.3rem;
    color: blue;
}